# 3. Pandas ê¸°ì´ˆ

## 3.1 Pandas ë°ì´í„° êµ¬ì¡°

- Pandasì—ì„œ ì œê³µí•˜ëŠ” ë°ì´í„° êµ¬ì¡°ëŠ” Seriesì™€ DataFrameì´ ìˆìŒ

### 3.1.1 Series

- ê° ê°’ì— `ë¼ë²¨(ì¸ë±ìŠ¤)`ì´ ìˆê³  `í•˜ë‚˜ì˜ ë°ì´í„° í˜•ì‹`ìœ¼ë¡œ ì´ë£¨ì–´ì§„ `1ì°¨ì› ë°°ì—´`
- `ë¼ë²¨`ë¡œ ë°ì´í„°ì— ì ‘ê·¼ í•  ìˆ˜ ìˆìŒ

### 3.1.2 DataFrame

- í–‰ê³¼ ì—´ì— ë¼ë²¨ì´ ìˆëŠ” 2ì°¨ì› ë°°ì—´ â˜ Excel
- ê° `ì—´`ì€ `ì„œë¡œ ë‹¤ë¥¸ ë°ì´í„° íƒ€ì…`ì„ ì§€ë‹ ìˆ˜ ìˆìŒ

<p align="center"><img src="https://github.com/sigirace/page-images/blob/main/kang_lectures/python_preprocessing/s_p.png?raw=true" width="600" height="300"></p>

## 3.2 DataFrame ê¸°ë³¸

Pandasì˜ DataFrameì„ ì‚¬ìš©í•˜ì—¬ ë¶„ì„í•˜ê¸° ìœ„í•œ ê°€ì¥ ì²« ë‹¨ê³„ëŠ” ë°ì´í„°ë¥¼ í˜¸ì¶œí•˜ê³  ë°ì´í„°ì˜ ë‚´ìš©ê³¼ ìš”ì•½, í†µê³„ì •ë³´ë¥¼ í™•ì¸í•˜ëŠ” ê²ƒì…ë‹ˆë‹¤. ë°ì´í„°ë‚˜ ë¶„ì„ ë„êµ¬ì— ë”°ë¼ ì»¬ëŸ¼ëª…ì´ë‚˜ ì»¬ëŸ¼ì˜ íƒ€ì…ì„ ë³€ê²½í•´ì•¼ í•  ë•Œë„ ìˆìŠµë‹ˆë‹¤.

### 3.2.1 Pandas ì‚¬ìš© ì¤€ë¹„

In [ ]:
%pip install pandas
import pandas as pd

- as ë¬¸ë²•ì„ í†µí•´ pandasë¥¼ ë³„ì¹­ pdë¡œ ì‚¬ìš©

### 3.2.2 DataFrame ì„ ì–¸í•˜ê¸°

In [20]:
import pandas as pd

import numpy as np
dataset = np.array([['kor', 80],['math',70]])
df = pd.DataFrame(dataset, columns=['subject', 'score'])
df

  subject score
0     kor    80
1    math    70

ğŸ“ **DataFrame ìƒì„±ì˜ ë‹¤ì–‘í•œ ë°©ë²•**

Case1. columns ì¸ìë¥¼ ì‚¬ìš©

In [2]:
df1 = pd.DataFrame([['kor', 80],['math',70]], columns=['subject', 'score'])
df1

  subject  score
0     kor     80
1    math     70

Case2. dictionaryë¥¼ ì‚¬ìš©
- dictionaryì˜ valueëŠ” ë°°ì—´ í˜•íƒœì—¬ì•¼ í•¨

In [3]:
df2 = pd.DataFrame({'subject':['kor', 'math'], 'score':[80, 70]})
df2

  subject  score
0     kor     80
1    math     70

### 3.2.3 DataFrame ì¶œë ¥í•˜ê¸°

- `sklearn` íŒ¨í‚¤ì§€ì˜ ê¸°ë³¸ ì œê³µ ë°ì´í„° ì„¸íŠ¸ì¸ iris ë°ì´í„°ë¥¼ ë¶ˆëŸ¬ì˜¤ê³  ì¶œë ¥
- `head()`, `tail()` í•¨ìˆ˜ë¥¼ ì‚¬ìš©í•´ ë°ì´í„°ë¥¼ ë¶€ë¶„ì ìœ¼ë¡œ í™•ì¸
- í•¨ìˆ˜ì˜ ì¸ìë¡œ ì•„ë¬´ ìˆ«ìë„ ì§€ì •í•˜ì§€ ì•Šìœ¼ë©´ ì»¬ëŸ¼ëª…ì„ í¬í•¨í•˜ì—¬ 6ì¤„ì„ ì¶œë ¥

ğŸ“ **sklearn íŒ¨í‚¤ì§€**

scikit-learnì€ Pythonì—ì„œ ë°ì´í„° ê³¼í•™ê³¼ ë¨¸ì‹ ëŸ¬ë‹ì„ ìœ„í•œ ê°•ë ¥í•œ ë¼ì´ë¸ŒëŸ¬ë¦¬ì…ë‹ˆë‹¤. ë°ì´í„° ì „ì²˜ë¦¬, ëª¨ë¸ í•™ìŠµ, í‰ê°€, ê·¸ë¦¬ê³  ë‹¤ì–‘í•œ ë¨¸ì‹ ëŸ¬ë‹ ì•Œê³ ë¦¬ì¦˜ì„ ì œê³µí•˜ì—¬ ë°ì´í„° ë¶„ì„ê³¼ ëª¨ë¸ë§ ì‘ì—…ì„ ì‰½ê²Œ ìˆ˜í–‰í•  ìˆ˜ ìˆë„ë¡ ë„ì™€ì¤ë‹ˆë‹¤.

In [22]:
from sklearn.datasets import load_iris
iris = load_iris()
iris = pd.DataFrame(iris.data, columns=iris.feature_names)
iris

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [23]:
# ë°ì´í„°í”„ë ˆì„ì˜ ìƒìœ„ í–‰ë§Œ í™•ì¸
iris.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [24]:
# ë°ì´í„°í”„ë ˆì„ì˜ í•˜ìœ„ í–‰ë§Œ í™•ì¸
iris.tail()

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

### 3.2.4 DataFrame ìš”ì•½ ë° í†µê³„ í™•ì¸í•˜ê¸°

- ë°ì´í„°ì˜ ë‚´ìš©ì„ í™•ì¸í–ˆë‹¤ë©´ ê·¸ ì´í›„ì— ë°ì´í„°í”„ë ˆì„ì˜ ìš”ì•½, í†µê³„ì •ë³´ë¥¼ í™•ì¸í•¨
- `info()` í•¨ìˆ˜ë¥¼ í†µí•´ `ì´ ë°ì´í„°ì˜ ê±´ìˆ˜`, `ê° ì»¬ëŸ¼ì˜ ë°ì´í„° í˜•ì‹` ê·¸ë¦¬ê³  `ê²°ì¸¡ì¹˜ì˜ ê±´ìˆ˜`ë¥¼ í™•ì¸í•  ìˆ˜ ìˆìŒ
- ìˆ˜ì¹˜í˜• ì»¬ëŸ¼ì´ ì¡´ì¬í•˜ëŠ” ê²½ìš° `describe()`í•¨ìˆ˜ë¥¼ ì‚¬ìš©í•˜ì—¬ ìˆ˜ì¹˜í˜• ì»¬ëŸ¼ë“¤ì˜ `n-percentile` ë¶„í¬ë„, í‰ê· ê°’, ìµœëŒ€ê°’, ìµœì†Œê°’ì„ í™•ì¸í•  ìˆ˜ ìˆìŒ
- ì´ëŸ¬í•œ ê³¼ì •ì€ `EDA`ì— ì†í•¨

In [11]:
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  150 non-null    float64
 1   sepal width (cm)   150 non-null    float64
 2   petal length (cm)  150 non-null    float64
 3   petal width (cm)   150 non-null    float64
dtypes: float64(4)
memory usage: 4.8 KB

ğŸ”¬ **info í•¨ìˆ˜ ê²°ê³¼í•´ì„**

- iris ë°ì´í„°ëŠ” 150ê°œì˜ í–‰ê³¼ 4ê°œì˜ ì»¬ëŸ¼ì„ ê°€ì§€ê³  ìˆìŒ
- ê° ì»¬ëŸ¼ì˜ ì´ë¦„ì€ 'sepal length (cm)', 'sepal width (cm)', 'petal length (cm)', 'petal width (cm)'
- `Non-Null Count`ê°€ ëª¨ë‘ `non-null` ì´ë¯€ë¡œ `ê²°ì¸¡ê°’`ì„ ê°€ì§€ê³  ìˆì§€ ì•ŠìŒ
- ëª¨ë“  ë°ì´í„°ì˜ íƒ€ì…ì€ `float64`ë¡œ ì‹¤ìˆ˜í˜• ë°ì´í„°

In [17]:
iris.describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
count,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.057333,3.758000,1.199333
std,0.828066,0.435866,1.765298,0.762238
min,4.300000,2.000000,1.000000,0.100000
25%,5.100000,2.800000,1.600000,0.300000
50%,5.800000,3.000000,4.350000,1.300000
75%,6.400000,3.300000,5.100000,1.800000
max,7.900000,4.400000,6.900000,2.500000

ğŸ”¬ **describe í•¨ìˆ˜ ê²°ê³¼í•´ì„**

- describeë¥¼ í™•ì¸í•˜ëŠ” ê²½ìš° ì£¼ë¡œ mean, min, maxë¥¼ í™•ì¸
- irisì˜ sepal length (cm) ì»¬ëŸ¼ì˜ ë²”ìœ„ëŠ” 4.3~7.9
- petal width (cm) ì»¬ëŸ¼ì˜ ë²”ìœ„ëŠ” 0.1~2.5 â˜ í¬ê¸°ê°€ ë§¤ìš° ì‘ì€ ê²ƒì´ ì¡´ì¬í•¨


âœï¸ **ë” ì•Œì•„ë³´ê¸°** <br>
- ğŸ˜— : ìƒëŒ€ì ìœ¼ë¡œ ê°’ì´ ì‘ì€ ì»¬ëŸ¼ì´ ëª¨ë¸ì— ë¯¸ì¹˜ëŠ” ì˜í–¥ì´ ì–´ë–»ê²Œ ë˜ë‚˜ìš”?
- ğŸ˜€ : ë°ì´í„° ê°’ì˜ í¬ê¸°ê°€ ìƒëŒ€ì ìœ¼ë¡œ ì‘ì€ ê²½ìš° ì‹¤ì œë¡œ í° ê´€ê³„ê°€ ìˆë”ë¼ë„ ë‹¤ë¥¸ ì»¬ëŸ¼ë“¤ì— ë¹„í•´ ë¶„ì„ëª¨ë¸ì— ì˜í–¥ì„ ëœ ë¯¸ì¹  ìˆ˜ ìˆìŠµë‹ˆë‹¤. ë”°ë¼ì„œ ëª¨ë¸ë§ ì „ ë³€ìˆ˜ê°€ ê´€ê³„ë¡œë§Œ ì˜í–¥ì„ ë¯¸ì¹  ìˆ˜ ìˆë„ë¡ ì „ì²˜ë¦¬ë¥¼ ìˆ˜í–‰í•´ì•¼ í•©ë‹ˆë‹¤.

### 3.2.5 DataFrame ì¸ë±ìŠ¤ í•¸ë“¤ë§

- ì¸ë±ìŠ¤ì˜ ì¶”ê°€/ë³€ê²½/ì‚­ì œ

In [25]:
# ì›ë³¸ ë°ì´í„°í”„ë ˆì„ í™•ì¸
df

  subject score
0     kor    80
1    math    70

In [27]:
# indexë¥¼ listë¡œ ë³€ê²½í•˜ì—¬ í™•ì¸
list(df.index)

[0, 1]

In [28]:
# index ìˆ˜ì •
df.index = ['A', 'B']

# indexë¥¼ listë¡œ ë³€ê²½í•˜ì—¬ í™•ì¸
list(df.index)

['A', 'B']

In [29]:
# ì¸ë±ìŠ¤ê°€ ë³€ê²½ëœ ë°ì´í„°í”„ë ˆì„ í™•ì¸
df

  subject score
A     kor    80
B    math    70

ğŸ“Œ **set_index**

DataFrame ë‚´ì˜ ì—´ì„ ì¸ë±ìŠ¤ë¡œ ë³€ê²½<br>
> DataFrame.set_index(keys, drop=True, append=False, inplace=True)

- keys: ì¸ë±ìŠ¤ë¡œ ì‚¬ìš©í•˜ê³ ì í•˜ëŠ” ì»¬ëŸ¼ì˜ ì´ë¦„ì„ ë¬¸ìí˜•ìœ¼ë¡œ ì…ë ¥
- drop: ì¸ë±ìŠ¤ë¡œ ì„¸íŒ…í•œ ì»¬ëŸ¼ì„ DataFrame ë‚´ì—ì„œ ì‚­ì œí• ì§€ë¥¼ ê²°ì •
- append: ê¸°ì¡´ì— ì¡´ì¬í•˜ë˜ ì¸ë±ìŠ¤ë¥¼ ì‚­ì œí• ì§€, ì»¬ëŸ¼ìœ¼ë¡œ ì¶”ê°€í• ì§€ë¥¼ ê²°ì •
- inplace: ì›ë³¸ ê°ì²´ë¥¼ ë³€ê²½í• ì§€ë¥¼ ê²°ì •

In [31]:
# class ì—´ì„ ì¸ë±ìŠ¤ë¡œ ì§€ì • í›„ ì‚­ì œ
# ê¸°ì¡´ì˜ ì¸ë±ìŠ¤ëŠ” ì‚­ì œë¨
# ì›ë³¸ dfë¥¼ ì˜êµ¬íˆ ë³€ê²½
df.set_index('subject', drop=True, append=False, inplace=True)
df

        score
subject
kor        80
math       70

ğŸ“Œ **reset_index**

ì¸ë±ìŠ¤ë¥¼ 0ë¶€í„° ì‹œì‘í•˜ëŠ” ì •ìˆ˜ë¡œ ì¬ì„¤ì •

> DataFrame.reset_index(drop=False, inplace=False)

- drop: ê¸°ì¡´ ì¸ë±ìŠ¤ë¥¼ DataFrame ë‚´ì—ì„œ ì‚­ì œí• ì§€, ì»¬ëŸ¼ìœ¼ë¡œ ì¶”ê°€í• ì§€ë¥¼ ê²°ì •
- inplace: ì›ë³¸ ê°ì²´ë¥¼ ë³€ê²½í• ì§€ë¥¼ ê²°ì •

In [32]:
df.reset_index(drop=False, inplace=True)
df

  subject score
0     kor    80
1    math    70

### 3.2.6 DataFrameì˜ ì—´(column) í•¸ë“¤ë§

In [34]:
# ë°ì´í„°í”„ë ˆì„ì˜ ì—´ í™•ì¸
iris.columns

Index(['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)',
       'petal width (cm)'],
      dtype='object')

In [35]:
# ë°ì´í„°í”„ë ˆì„ì˜ ì—´ ì´ë¦„ ë³€ê²½
iris.columns = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width']
iris

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

### 3.2.8 DataFrame ì»¬ëŸ¼ì˜ ë°ì´í„° íƒ€ì… í™•ì¸ ë° ë³€ê²½

- dtypesë¥¼ í†µí•´ ê° ì»¬ëŸ¼ì˜ ì†ì„±ì„ í™•ì¸í•  ìˆ˜ ìˆìŒ
- astype()ì„ í†µí•´ ë°ì´í„° íƒ€ì…ì„ ë³€ê²½í•  ìˆ˜ ìˆìŒ

ğŸ“ **ë°ì´í„°í”„ë ˆì„ì˜ ì»¬ëŸ¼**
- int: ì •ìˆ˜í˜•
- float: ì‹¤ìˆ˜í˜•, ì†Œìˆ˜ì ì„ ê°€ì§
- bool: True or False
- datetime: ë‚ ì§œì™€ ì‹œê°„ í‘œí˜„
- object: ë¬¸ìì—´&ë³µí•©í˜•

In [38]:
# ê° ì»¬ëŸ¼ì˜ ë°ì´í„° íƒ€ì… í™•ì¸
iris.dtypes

sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
dtype: object

In [39]:
# astypeì„ ì´ìš©í•œ ë°ì´í„° íƒ€ì… ë³€ê²½
iris['sepal_length'] = iris['sepal_length'].astype('int')
iris.dtypes

sepal_length      int64
sepal_width     float64
petal_length    float64
petal_width     float64
dtype: object

## 3.3 row/ column í•¸ë“¤ë§

ë°ì´í„°í”„ë ˆì„ì€ í–‰ê³¼ ì—´ì´ ê°ê°ì˜ labelì„ ê°€ì§€ê³  ìˆì–´ ë ˆì´ë¸”ì˜ ì´ë¦„ì´ë‚˜ ê·¸ ìœ„ì¹˜ë¥¼ í†µí•´ í–‰ ë˜ëŠ” ì—´ì„ ì¶”ê°€í•˜ê³  ì‚­ì œí•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.

### 3.3.1 row/ columnì˜ ì„ íƒ ì¡°íšŒ

**1. row ì„ íƒ ì¡°íšŒ**
- ìŠ¬ë¼ì´ì‹±ì„ í†µí•œ í–‰ ì„ íƒ

ğŸ“Œ **ìŠ¬ë¼ì´ì‹±**

ì‹œì‘ê³¼ ëì„ ì§€ì •í•´ ì˜ë¼ë‚´ëŠ” ë°©ë²•, ë°ì´í„°í”„ë ˆì„ì´ ì•„ë‹Œ list ë“±ì—ì„œë„ ì‚¬ìš© ê°€ëŠ¥

> DataFrame[n:m]

- në²ˆì§¸ í–‰ë¶€í„° m-1ë²ˆì§¸ í–‰ê¹Œì§€ ë°ì´í„°í”„ë ˆì„ì„ ìë¦„

In [41]:
from sklearn.datasets import load_iris
import pandas as pd
iris = load_iris()
iris = pd.DataFrame(iris.data, columns=iris.feature_names)

# 1ë²ˆì§¸ í–‰ë¶€í„° 4-1ë²ˆì§¸ í–‰ì˜ ë°ì´í„° í™•ì¸
iris[1:4]

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2

- ë°ì´í„°í”„ë ˆì„ì€ 0ë²ˆ ì¸ë±ìŠ¤ë¶€í„° ìˆ˜í–‰í•¨

**2. column ì„ íƒ ì¡°íšŒ**
- ì»¬ëŸ¼ëª… ë˜ëŠ” ì»¬ëŸ¼ëª…ì˜ ë¦¬ìŠ¤íŠ¸ë¥¼ ì´ìš©í•¨

ğŸ”¥ **key point**
- ì»¬ëŸ¼ëª… â˜ Series
- ì»¬ëŸ¼ëª… ë¦¬ìŠ¤íŠ¸ â˜ DataFrame

In [43]:
# ì»¬ëŸ¼ëª…ìœ¼ë¡œ ë°ì´í„° í™•ì¸
iris['petal length (cm)'].head()

0    1.4
1    1.4
2    1.3
3    1.5
4    1.4
Name: petal length (cm), dtype: float64

In [44]:
# ì»¬ëŸ¼ëª…ì˜ ë¦¬ìŠ¤íŠ¸ë¡œ ë°ì´í„° í™•ì¸
iris[['petal length (cm)', 'petal width (cm)']].head()

   petal length (cm)  petal width (cm)
0                1.4               0.2
1                1.4               0.2
2                1.3               0.2
3                1.5               0.2
4                1.4               0.2

**3 rowì™€ column ì„ íƒ ì¡°íšŒ**

- iloc ë˜ëŠ” locì„ ì‚¬ìš©í•´ í–‰ê³¼ ì—´ ëª¨ë‘ ì§€ì •í•  ìˆ˜ ìˆìŒ

ğŸ“Œ **iloc**

ì •ìˆ˜ë¡œ íŠ¹ì • í–‰ê³¼ ì—´ì„ ì„ íƒí•˜ê³  ì‹¶ì€ ê²½ìš° ì‚¬ìš©

> DataFrame.iloc[row, column]

- ì¸ìˆ˜ë¥¼ í•˜ë‚˜ë§Œ ì„¤ì •í•  ê²½ìš° í–‰ì„ ì§€ì •
- ì¸ìˆ˜ë¥¼ ë‘ ê°œ ì„¤ì •í•  ê²½ìš° ìˆœì„œëŒ€ë¡œ í–‰ê³¼ ì—´ ì§€ì •
- ì¸ìˆ˜ëŠ” ì •ìˆ˜, ë¦¬ìŠ¤íŠ¸, ìŠ¬ë¼ì´ì‹±ì„ ì‚¬ìš©í•  ìˆ˜ ìˆìŒ

In [48]:
# ìŠ¬ë¼ì´ì‹±, ì—´ì€ ì§€ì •í•˜ì§€ ì•Šì•˜ê¸°ì— ëª¨ë“  ì—´ì„ ì„ íƒ
# 1ë²ˆì§¸ í–‰ë¶€í„° 4-1ë²ˆì§¸ í–‰ì˜ ë°ì´í„° í™•ì¸
iris.iloc[1:4]

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2

In [50]:
# í–‰ì€ ë¦¬ìŠ¤íŠ¸ë¡œ íŠ¹ì • ì¸ë±ìŠ¤ë“¤ì„ ì§€ì •
# ì—´ì€ ìŠ¬ë¼ì´ì‹±ìœ¼ë¡œ íŠ¹ì • ì—´ ë²”ìœ„ ì§€ì •
iris.iloc[[1,3,5],2:4]

   petal length (cm)  petal width (cm)
1                1.4               0.2
3                1.5               0.2
5                1.7               0.4

ğŸ“Œ **loc**

ë ˆì´ë¸”(ì¸ë±ìŠ¤ ì´ë¦„ í˜¹ì€ ì»¬ëŸ¼ëª…)ë¡œ í–‰ê³¼ ì—´ì„ ì„ íƒí•˜ê³  ì‹¶ì€ ê²½ìš° ì‚¬ìš©

> DataFrame.loc[row, column]

- ì¸ìˆ˜ë¥¼ í•˜ë‚˜ë§Œ ì„¤ì •í•  ê²½ìš° í–‰ì„ ì§€ì •
- ì¸ìˆ˜ë¥¼ ë‘ ê°œ ì„¤ì •í•  ê²½ìš° ìˆœì„œëŒ€ë¡œ í–‰ê³¼ ì—´ ì§€ì •
- ì¸ìˆ˜ëŠ” ì •ìˆ˜, ë¦¬ìŠ¤íŠ¸, ìŠ¬ë¼ì´ì‹±ì„ ì‚¬ìš©í•  ìˆ˜ ìˆìŒ
- locì˜ ìŠ¬ë¼ì´ì‹±ì€ ì¼ë°˜ì ì¸ íŒŒì´ì¬ì˜ ìŠ¬ë¼ì´ì‹±ê³¼ ë‹¤ë¦„ (ì§„ì§œ ì‹œì‘ë¶€í„° ë)

In [77]:
# locì— ëŒ€í•œ ì´í•´ë¥¼ ìœ„í•´ ì¸ë±ìŠ¤ë¥¼ ë³€ê²½
iris_index = list(iris.index)
iris_index[0] = 'íŒŒì´ì¬'
iris.index = iris_index
iris.head()

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
íŒŒì´ì¬                5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2

In [78]:
# 'íŒŒì´ì¬' ë¼ë²¨ì˜ í–‰ë¶€í„° 3ë²ˆì§¸ í–‰ê¹Œì§€ ë°ì´í„° í™•ì¸
iris.loc['íŒŒì´ì¬':3]

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
íŒŒì´ì¬                5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2

In [83]:
# ì»¬ëŸ¼ëª…ë„ ìŠ¬ë¼ì´ìŠ¤ë¡œ ì§€ì •í•  ìˆ˜ ìˆìŒ
iris.loc[['íŒŒì´ì¬', 3, 5], 'sepal width (cm)':'petal width (cm)']

     sepal width (cm)  petal length (cm)  petal width (cm)
íŒŒì´ì¬               3.5                1.4               0.2
3                 3.1                1.5               0.2
5                 3.9                1.7               0.4

**4. ì„ íƒí•œ ê°’ ë³€ê²½í•˜ê¸°**

- íŠ¹ì •í•œ ìœ„ì¹˜ë¥¼ ì§€ì •í–ˆë‹¤ë©´ ë‹¤ë¥¸ ê°’ì„ ëŒ€ì…í•´ ê°’ì„ ë³€ê²½í•  ìˆ˜ ìˆìŒ

In [87]:
# ê°’ì„ ë³€ê²½í•  ë°ì´í„° í™•ì¸
print(iris.loc['íŒŒì´ì¬', 'sepal length (cm)'])

5.1

In [88]:
# ê°’ ë³€ê²½
iris.loc['íŒŒì´ì¬', 'sepal length (cm)'] = 100
iris.head()

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
íŒŒì´ì¬              100.0               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2

### 3.3.2 row/ column Concat

concatì€ ë°ì´í„°í”„ë ˆì„ê°„ì˜ ë‹¨ìˆœí•œ ì—°ê²°ì„ ì˜ë¯¸í•©ë‹ˆë‹¤. concatì„ í†µí•´ ë‘ ê°œ ì´ìƒì˜ ë°ì´í„°í”„ë ˆì„ì„ ì—´ í˜¹ì€ í–‰ ë°©í–¥ìœ¼ë¡œ ë¶™ì¼ ìˆ˜ ìˆìœ¼ë©°, ì´ë¥¼ í†µí•´ ì—´ í˜¹ì€ í–‰ì„ ì¶”ê°€í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.

ğŸ“Œ **concat**

> pandas.concat(objs, axis=0, ignore_index=False)

- objs: concatì„ ì‹¤í–‰í•  ê°ì²´ì˜ ë¦¬ìŠ¤íŠ¸
- axis: 0ì´ë©´ í–‰ ì¶”ê°€, 1ì´ë©´ ì—´ ì¶”ê°€
- ignore_index: Trueì´ë©´ ê¸°ì¡´ indexë¥¼ ë¬´ì‹œí•˜ê³  0ë¶€í„° ì‹œì‘í•˜ëŠ” ì •ìˆ˜ë¡œ ì¬ì„¤ì •

In [101]:
score = pd.DataFrame({'êµ­ì–´':[80,90,70], 'ìˆ˜í•™':[90,70,60]}, index=['í™ê¸¸ë™', 'ê¹€ì² ìˆ˜', 'ì´ì˜í¬'])
score

     êµ­ì–´  ìˆ˜í•™
í™ê¸¸ë™  80  90
ê¹€ì² ìˆ˜  90  70
ì´ì˜í¬  70  60

In [107]:
new_student = pd.DataFrame({'êµ­ì–´':[100], 'ìˆ˜í•™':[100]}, index=['ì—„ì¹œì•„'])
new_student

      êµ­ì–´   ìˆ˜í•™
ì—„ì¹œì•„  100  100

In [113]:
# í–‰ ì¶”ê°€
score = pd.concat([score, new_student], axis=0)
score

      êµ­ì–´   ìˆ˜í•™
í™ê¸¸ë™   80   90
ê¹€ì² ìˆ˜   90   70
ì´ì˜í¬   70   60
ì—„ì¹œì•„  100  100

In [111]:
new_subject = pd.DataFrame({'ê³¼í•™':[100, 90, 80, 100]}, index=['í™ê¸¸ë™', 'ê¹€ì² ìˆ˜', 'ì´ì˜í¬', 'ì—„ì¹œì•„'])
new_subject

      ê³¼í•™
í™ê¸¸ë™  100
ê¹€ì² ìˆ˜   90
ì´ì˜í¬   80
ì—„ì¹œì•„  100

In [114]:
# ì—´ ì¶”ê°€
score = pd.concat([score, new_subject], axis=1)
score

      êµ­ì–´   ìˆ˜í•™   ê³¼í•™
í™ê¸¸ë™   80   90  100
ê¹€ì² ìˆ˜   90   70   90
ì´ì˜í¬   70   60   80
ì—„ì¹œì•„  100  100  100

### 3.3.3 row/column ì‚­ì œ

- drop() í•¨ìˆ˜ë¥¼ ì‚¬ìš©í•˜ì—¬ í–‰ê³¼ ì—´ì„ ì‚­ì œí•  ìˆ˜ ìˆìŒ
- í–‰ê³¼ ì—´ ë‘˜ë‹¤ ì§€ì •í•˜ì—¬ ì‚­ì œí•˜ëŠ” ê²ƒì€ ë¶ˆê°€ëŠ¥í•¨

ğŸ“Œ **drop**

> DataFrame.drop(index=None, climns=None, inplace=False)

- index: ì‚­ì œí•  í–‰ì˜ ì¸ë±ìŠ¤ í˜¹ì€ ì¸ë±ìŠ¤ì˜ ë¦¬ìŠ¤íŠ¸ë¥¼ ì§€ì •
- columns: ì‚­ì œí•  ì»¬ëŸ¼ì˜ ì´ë¦„ í˜¹ì€ ì»¬ëŸ¼ëª…ì˜ ë¦¬ìŠ¤íŠ¸ë¥¼ ì§€ì •
- inplace: Trueì´ë©´ ì‘ì—… ìˆ˜í–‰ê³¼ ë™ì‹œì— ì›ë³¸ì— ë°˜ì˜

In [115]:
# indexë¥¼ ê¸°ì¤€ìœ¼ë¡œ í–‰ ì‚­ì œ
score = score.drop('ì—„ì¹œì•„', inplace=False)
score

     êµ­ì–´  ìˆ˜í•™   ê³¼í•™
í™ê¸¸ë™  80  90  100
ê¹€ì² ìˆ˜  90  70   90
ì´ì˜í¬  70  60   80

In [117]:
# columnëª…ì„ ê¸°ì¤€ìœ¼ë¡œ ì—´ ì‚­ì œ
score = score.drop(columns=['ê³¼í•™'], inplace=False)
score

     êµ­ì–´  ìˆ˜í•™
í™ê¸¸ë™  80  90
ê¹€ì² ìˆ˜  90  70
ì´ì˜í¬  70  60

## 3.4 ì¡°ê±´ì— ë§ëŠ” ë°ì´í„° íƒìƒ‰ ë° ìˆ˜ì •

### 3.4.1 ì¡°ê±´ íƒìƒ‰

ğŸ“Œ **ë°ì´í„°í”„ë ˆì„ ì¡°ê±´ íƒìƒ‰**
> DataFrame[ì¡°ê±´ì‹]

**1. ì¡°ê±´ì´ í•˜ë‚˜ì¸ ê²½ìš°**

In [118]:
score[score['êµ­ì–´'] > 80]

     êµ­ì–´  ìˆ˜í•™
ê¹€ì² ìˆ˜  90  70

**2. ì¡°ê±´ì´ ë‘ ê°œì¸ ê²½ìš°**

In [121]:
# ë‘˜ ë‹¤ ë§Œì¡±í•´ì•¼ í•¨ (and)
score[(score['êµ­ì–´'] > 70) & (score['ìˆ˜í•™'] > 80)]

     êµ­ì–´  ìˆ˜í•™
í™ê¸¸ë™  80  90

In [124]:
# ë‘˜ ì¤‘ í•˜ë‚˜ë§Œ ë§Œì¡±í•´ë„ ë¨ (or)
score[(score['êµ­ì–´'] > 85) | (score['ìˆ˜í•™'] > 85)]

     êµ­ì–´  ìˆ˜í•™
í™ê¸¸ë™  80  90
ê¹€ì² ìˆ˜  90  70

### 3.4.2 ê²°ì¸¡ê°’ íƒìƒ‰ ë° ìˆ˜ì •

**1. ê²°ì¸¡ê°’ íƒìƒ‰**

- ê²°ì¸¡ê°’ íƒìƒ‰ í•¨ìˆ˜: isna(), isnull()
- ê²°ì¸¡ê°’ì´ ì•„ë‹Œ ê°’ íƒìƒ‰: notna(), notnull()
- ê²°ì¸¡ê°’ íƒìƒ‰ì˜ ê²°ê³¼ëŠ” ì›ë³¸ ë°ì´í„°í”„ë ˆì„ì— True, Falseë¡œ ë‚˜íƒ€ë‚¨

In [125]:
# ê²°ì¸¡ê°’ íƒìƒ‰ì„ ìœ„í•œ ê²°ì¸¡ì¹˜ ì¶”ê°€
new_student = pd.DataFrame({'ìˆ˜í•™':[100]}, index=['ì—„ì¹œì•„'])
score = pd.concat([score, new_student], axis=0)
score

       êµ­ì–´   ìˆ˜í•™
í™ê¸¸ë™  80.0   90
ê¹€ì² ìˆ˜  90.0   70
ì´ì˜í¬  70.0   60
ì—„ì¹œì•„   NaN  100

In [127]:
# ê²°ì¸¡ì¹˜ íƒìƒ‰
score.isnull()

        êµ­ì–´     ìˆ˜í•™
í™ê¸¸ë™  False  False
ê¹€ì² ìˆ˜  False  False
ì´ì˜í¬  False  False
ì—„ì¹œì•„   True  False

In [128]:
# ê²°ì¸¡ì´ ì•„ë‹Œ ê°’ íƒìƒ‰
score.notna()

        êµ­ì–´    ìˆ˜í•™
í™ê¸¸ë™   True  True
ê¹€ì² ìˆ˜   True  True
ì´ì˜í¬   True  True
ì—„ì¹œì•„  False  True

**2. ê²°ì¸¡ì¹˜ í•©ê³„**

- TrueëŠ” 1 FalseëŠ” 0ìœ¼ë¡œ ì§‘ê³„
- sum()ì€ ì»¬ëŸ¼ë³„, sum(axis=1)ì€ í–‰ë³„ ì§‘ê³„ ìˆ˜í–‰

In [129]:
# ê²°ì¸¡ì¹˜ íƒìƒ‰ í›„ ê²°ì¸¡ì¹˜ ê°œìˆ˜ í™•ì¸ (ì—´ë³„)
score.isnull().sum()

êµ­ì–´    1
ìˆ˜í•™    0
dtype: int64

In [130]:
# ê²°ì¸¡ì¹˜ íƒìƒ‰ í›„ ê²°ì¸¡ì¹˜ ê°œìˆ˜ í™•ì¸ (í–‰ë³„)
score.isnull().sum(axis=1)

í™ê¸¸ë™    0
ê¹€ì² ìˆ˜    0
ì´ì˜í¬    0
ì—„ì¹œì•„    1
dtype: int64

**3. ê²°ì¸¡ê°’ ì œê±°**

- dropna()ëŠ” ê²°ì¸¡ê°’ì´ ì¡´ì¬í•˜ëŠ” í–‰ ë˜ëŠ” ì—´ì„ ì‚­ì œ

ğŸ“Œ **dropna**

> DataFrame.dropna(axis=0, how='any', thresh=None, inplace=False)

- axis: 0ì´ë©´ ê²°ì¸¡ê°’ì´ í¬í•¨ëœ í–‰ì‚­ì œ, 1ì´ë©´ ê²°ì¸¡ê°’ì´ í¬í•¨ëœ ì—´ ì‚­ì œ
- how: 'any'ë©´ ê²°ì¸¡ê°’ì´ ì¡´ì¬í•œ ëª¨ë“  í–‰/ì—´ ì‚­ì œ, 'all'ì´ë©´ ëª¨ë“  ê°’ì´ ê²°ì¸¡ê°’ì¼ë•Œ ì‚­ì œ
- thresh: ì •ìˆ˜ ê°’ì„ ì§€ì •í•˜ë©´ ê²°ì¸¡ê°’ì´ ì•„ë‹Œ ê°’ì´ ê·¸ë³´ë‹¤ ë§ì„ ë•Œ í–‰ ë˜ëŠ” ì—´ì„ ìœ ì§€

In [131]:
# ê²°ì¸¡ì¹˜ ì œê±°
# inplace=Trueë¡œ ì„¤ì •í•˜ë©´ ì›ë³¸ ë°ì´í„°í”„ë ˆì„ì´ ë³€ê²½ë¨
score.dropna()

       êµ­ì–´  ìˆ˜í•™
í™ê¸¸ë™  80.0  90
ê¹€ì² ìˆ˜  90.0  70
ì´ì˜í¬  70.0  60

**4. ê²°ì¸¡ê°’ ëŒ€ì²´**

- fillna() í•¨ìˆ˜ë¥¼ í™œìš©í•˜ì—¬ ë‹¤ì–‘í•œ ë°©ë²•ìœ¼ë¡œ ê²°ì¸¡ê°’ì„ ëŒ€ì²´í•  ìˆ˜ ìˆìŒ

ğŸ“Œ **fillna**

> DataFrame.fillna(value=None, method=None, axis=None, inplace=False)

- value: ê²°ì¸¡ì¹˜ë¥¼ ëŒ€ì²´í•  ê°’ ì§ì ‘ ì…ë ¥
- method: 'pad', 'fill'ì€ ì´ì „ê°’ ëŒ€ì²´, 'backfill', 'bfill'ì€ ë‹¤ìŒ ê°’ìœ¼ë¡œ ëŒ€ì²´
- axis: 0ì´ë©´ í–‰ ë°©í–¥ ëŒ€ì²´, 1ì´ë©´ ì—´ ë°©í–¥ ëŒ€ì²´

In [134]:
# 0ìœ¼ë¡œ ëŒ€ì²´
score.fillna(0)

       êµ­ì–´   ìˆ˜í•™
í™ê¸¸ë™  80.0   90
ê¹€ì² ìˆ˜  90.0   70
ì´ì˜í¬  70.0   60
ì—„ì¹œì•„   0.0  100

In [135]:
# í‰ê· ê°’ìœ¼ë¡œ ëŒ€ì²´
score.fillna(score.mean())

       êµ­ì–´   ìˆ˜í•™
í™ê¸¸ë™  80.0   90
ê¹€ì² ìˆ˜  90.0   70
ì´ì˜í¬  70.0   60
ì—„ì¹œì•„  80.0  100

In [136]:
# ì´ì „ê°’ ëŒ€ì²´
score.fillna(method='ffill')

       êµ­ì–´   ìˆ˜í•™
í™ê¸¸ë™  80.0   90
ê¹€ì² ìˆ˜  90.0   70
ì´ì˜í¬  70.0   60
ì—„ì¹œì•„  70.0  100

In [137]:
# ë‹¤ìŒê°’ ëŒ€ì²´
score.fillna(method='bfill')

       êµ­ì–´   ìˆ˜í•™
í™ê¸¸ë™  80.0   90
ê¹€ì² ìˆ˜  90.0   70
ì´ì˜í¬  70.0   60
ì—„ì¹œì•„   NaN  100

âœï¸ **ë” ì•Œì•„ë³´ê¸°** <br>
- ğŸ˜— : ê²°ì¸¡ê°’ì´ ì¡´ì¬í•˜ë©´ ì§€ìš°ëŠ” ë°©ë²•ê³¼ ëŒ€ì²´í•˜ëŠ” ë°©ë²• ì¤‘ ë¬´ì—‡ì„ ì‚¬ìš©í•´ì•¼ í•˜ë‚˜ìš”?
- ğŸ˜€ : ë°ì´í„° ì…‹ì´ í´ ê²½ìš° ê²°ì¸¡ê°’ì´ ì•½ 5%ë¯¸ë§Œì´ë©´ ì§€ì›Œë„ ë¬´ë°©í•˜ê³  ê·¸ë ‡ì§€ ì•Šë‹¤ë©´ ì ì ˆí•œ ê°’ìœ¼ë¡œ ëŒ€ì²´í•˜ëŠ” ê²ƒì´ ë¶„ì„ ëª¨ë¸ì˜ ì„¤ëª…ë ¥ì´ ë†’ì•„ì§‘ë‹ˆë‹¤.

**5. ì¤‘ë³µí–‰ ì‚­ì œ**

- drop_duplicates() í•¨ìˆ˜ë¥¼ ì‚¬ìš©í•´ ì¤‘ë³µì„ ì‚­ì œí•  ìˆ˜ ìˆìŒ

ğŸ“Œ **drop_duplicates**

> DataFrame.drop_duplicates()

- inplaceê°€ ì—†ìœ¼ë¯€ë¡œ ì¬í• ë‹¹ í•„ìš”

In [141]:
# ì¤‘ë³µí–‰ ìƒì„± â˜ ìˆ˜í•™ ì ìˆ˜ê°€ ì¤‘ë³µë¨
score.loc['ì´ì˜í¬' , 'ìˆ˜í•™'] = 70
score

       êµ­ì–´   ìˆ˜í•™
í™ê¸¸ë™  80.0   90
ê¹€ì² ìˆ˜  90.0   70
ì´ì˜í¬  70.0   70
ì—„ì¹œì•„   NaN  100

In [147]:
# ì»¬ëŸ¼ì„ ì§€ì •í•˜ì§€ ì•Šì€ ê²½ìš°
score.drop_duplicates()

       êµ­ì–´   ìˆ˜í•™
í™ê¸¸ë™  80.0   90
ê¹€ì² ìˆ˜  90.0   70
ì´ì˜í¬  70.0   70
ì—„ì¹œì•„   NaN  100

In [148]:
# ì»¬ëŸ¼ì„ ì§€ì •
score['ìˆ˜í•™'].drop_duplicates()

í™ê¸¸ë™     90
ê¹€ì² ìˆ˜     70
ì—„ì¹œì•„    100
Name: ìˆ˜í•™, dtype: int64

## 3.5 ë°ì´í„° ì •ë ¬

### 3.5.1 ì¸ë±ìŠ¤ ê¸°ì¤€ ì •ë ¬

ğŸ“Œ **sort_index**

> DataFrame.sort_index(asccending=True, inplace=False)

- ascending: True-ì˜¤ë¦„ì°¨ìˆœ, False-ë‚´ë¦¼ì°¨ìˆœ

In [154]:
import pandas as pd
from sklearn.datasets import load_iris
# ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°
iris = load_iris()
# ë°ì´í„°í”„ë ˆì„ìœ¼ë¡œ ë³€í™˜
iris = pd.DataFrame(iris.data, columns=iris.feature_names)
iris.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [155]:
# ì¸ë±ìŠ¤ ê¸°ì¤€ ë‚´ë¦¼ì°¨ìˆœ ì •ë ¬
iris.sort_index(ascending=False, inplace=True)
iris.head()

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
149                5.9               3.0                5.1               1.8
148                6.2               3.4                5.4               2.3
147                6.5               3.0                5.2               2.0
146                6.3               2.5                5.0               1.9
145                6.7               3.0                5.2               2.3

### 3.5.2 ì»¬ëŸ¼ ê¸°ì¤€ ì •ë ¬

ğŸ“Œ **sort_values**

> DataFrame.sort_values(by, ascending=True, inplace=False)

- by: ì •ë ¬ ê¸°ì¤€ìœ¼ë¡œ ì‚¬ìš©í•  ì»¬ëŸ¼ í˜¹ì€ ì»¬ëŸ¼ ë¦¬ìŠ¤íŠ¸
  - ë¦¬ìŠ¤íŠ¸ì¼ ê²½ìš° ë¦¬ìŠ¤íŠ¸ì˜ ìˆœì„œëŒ€ë¡œ ìš°ì„ ìˆœìœ„ ë¶€ì—¬
- ascending: True-ì˜¤ë¦„ì°¨ìˆœ, False-ë‚´ë¦¼ì°¨ìˆœ

In [157]:
# sepal length (cm) ì»¬ëŸ¼ ê¸°ì¤€ ë‚´ë¦¼ì°¨ìˆœ ì •ë ¬
iris.sort_values(by='sepal length (cm)', ascending=False, inplace=True)
iris.head()

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
131                7.9               3.8                6.4               2.0
118                7.7               2.6                6.9               2.3
122                7.7               2.8                6.7               2.0
135                7.7               3.0                6.1               2.3
117                7.7               3.8                6.7               2.2

In [160]:
# ì»¬ëŸ¼ëª… ë¦¬ìŠ¤íŠ¸ë¡œ ì •ë ¬
# ê°ê° ë‹¤ë¥¸ ì •ë ¬ ë°©ì‹ì„ ì ìš©í•  ìˆ˜ ìˆìŒ
iris.sort_values(by=['sepal length (cm)', 'sepal width (cm)'], ascending=[False, True], inplace=True)
iris.head()

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
131                7.9               3.8                6.4               2.0
118                7.7               2.6                6.9               2.3
122                7.7               2.8                6.7               2.0
135                7.7               3.0                6.1               2.3
117                7.7               3.8                6.7               2.2

## 3.6 ë°ì´í„° ë³‘í•©

ì•ì„œ ìˆ˜í–‰í•œ concat(ì—°ê²°)ê³¼ ë‹¤ë¥¸ ë°©ì‹ì¸ merge(ë³‘í•©) ë°©ì‹ì€ ë‘ ë°ì´í„°í”„ë ˆì„ì´ ë™ì‹œì— ê°€ì§€ê³  ìˆëŠ” íŠ¹ì •í•œ ì»¬ëŸ¼ì˜ ê°’ì¸ keyë¥¼ ê¸°ì¤€ìœ¼ë¡œ ë³‘í•©ì„ ìˆ˜í–‰í•œë‹¤.

<p align="center"><img src="https://github.com/sigirace/page-images/blob/main/kang_lectures/python_preprocessing/merge.png?raw=true" width="800" height="450"></p>

ğŸ“Œ **merge**

> pandas.merge(left, right, how='inner', on=None)

- left: ì™¼ìª½ì— í•´ë‹¹í•˜ëŠ” ë°ì´í„°í”„ë ˆì„
- right: ì˜¤ë¥¸ìª½ì— í•´ë‹¹í•˜ëŠ” ë°ì´í„°í”„ë ˆì„
- how: ë³‘í•© ë°©ì‹
- on: key ì»¬ëŸ¼ ì§‘í•©

ğŸ”¥ **Key Point**
- ë³‘í•©ì€ ì´ë¯¸ì§€ë¡œ ìƒê°í•˜ì—¬ ìˆ˜í–‰í•˜ë©´ ì´í•´í•˜ê¸° í¸í•¨
- ë³‘í•©ì‹œ key ì»¬ëŸ¼ì€ ì¡´ì¬í•˜ë‚˜ ë™ì¼í•œ ê°’ì´ ì—†ëŠ” ê²½ìš° NaNì„ ë°˜í™˜í•¨
- ë³‘í•©í›„ ê²°ì¸¡ì¹˜ì— ëŒ€í•œ ì²˜ë¦¬ í•„ìš”

In [166]:
# ë³‘í•© ì˜ˆì‹œë¥¼ ìœ„í•œ ë°ì´í„°í”„ë ˆì„ ìƒì„±
product = pd.DataFrame({'product':['a','b','c','d','e'], 'price':[100, 150, 200, 250, 300]})
product

  product  price
0       a    100
1       b    150
2       c    200
3       d    250
4       e    300

In [168]:
# ë³‘í•© ì˜ˆì‹œë¥¼ ìœ„í•œ ë°ì´í„°í”„ë ˆì„ ìƒì„±
sale = pd.DataFrame({'product':['a','b','c'], 'sale':[10, 20, 30]})
sale

  product  sale
0       a    10
1       b    20
2       c    30

In [172]:
# inner join ìˆ˜í–‰
inner = pd.merge(product, sale, on='product', how='inner')
inner

  product  price  sale
0       a    100    10
1       b    150    20
2       c    200    30

In [173]:
# outer join ìˆ˜í–‰
outer = pd.merge(product, sale, on='product', how='outer')
outer

  product  price  sale
0       a    100  10.0
1       b    150  20.0
2       c    200  30.0
3       d    250   NaN
4       e    300   NaN

In [174]:
# left join ìˆ˜í–‰
left = pd.merge(product, sale, on='product', how='left')
left

  product  price  sale
0       a    100  10.0
1       b    150  20.0
2       c    200  30.0
3       d    250   NaN
4       e    300   NaN

In [175]:
# right join ìˆ˜í–‰
right = pd.merge(product, sale, on='product', how='right')
right

  product  price  sale
0       a    100    10
1       b    150    20
2       c    200    30

ğŸ“ **ê²°ì¸¡ì¹˜ ì²˜ë¦¬ ë³µìŠµ**

In [181]:
# outer ë°ì´í„°í”„ë ˆì„ì— ëŒ€í•œ ê²°ì¸¡ì¹˜ í™•ì¸
outer.isna().sum(0)

product    0
price      0
sale       2
dtype: int64

- sale ì»¬ëŸ¼ì— 2ê°œì˜ ê²°ì¸¡ì¹˜ ìˆìŒì„ í™•ì¸

In [183]:
# ê²°ì¸¡ì¹˜ ëŒ€ì²´
outer.fillna(0)

  product  price  sale
0       a    100  10.0
1       b    150  20.0
2       c    200  30.0
3       d    250   0.0
4       e    300   0.0

- ì„¸ì¼ì„ í•˜ì§€ ì•ŠëŠ” í’ˆëª©ìœ¼ë¡œ í• ì¸ìœ¨ 0 ì ìš©

## 3.7 ë°ì´í„° ìš”ì•½

ë°ì´í„°ë¥¼ ìš”ì•½í•˜ì—¬ ì›í•˜ëŠ” ì •ë³´ë¥¼ ì–»ëŠ” ê²ƒì€ ë°ì´í„°ê°€ ì§€ë‹Œ ê°’ì˜ íŠ¹ì§•ì„ ì•Œê²Œ í•´ì¤ë‹ˆë‹¤. ì´ì™€ ë¹„ìŠ·í•œ ê²ƒì„ 3.2ì—ì„œ ìˆ˜í–‰í•´ë³´ì•˜ëŠ”ë°, ì´ë²ˆ ì¥ì—ì„œëŠ” ì„¸ë¶€ì ìœ¼ë¡œ ë°ì´í„°ë¥¼ ìš”ì•½í•˜ì—¬ ì§‘ê³„í•˜ëŠ” ë°©ë²•ì„ ì•Œì•„ë³´ê² ìŠµë‹ˆë‹¤.

### 3.7.1 ê·¸ë£¹í™” ì§‘ê³„

ğŸ‘€ **Definition**
> ê·¸ë£¹í™”ëŠ” í•˜ë‚˜ ì´ìƒì˜ ë°ì´í„°ë¥¼ ì¡°ê±´ì— ë”°ë¼ ì—¬ëŸ¬ê°œ ê·¸ë£¹ìœ¼ë¡œ ë¬¶ëŠ” ê²ƒ

- groupby() í•¨ìˆ˜ë¥¼ ì‚¬ìš©í•¨

ğŸ“Œ **groupby**

> DataFrame.groupby(by=None, axis=0, sort=False, dropna=True).FUN()

- by: ê·¸ë£¹ì„ ê²°ì •í•˜ëŠ” ë° ì‚¬ìš©
- axis: í–‰(0)ê³¼ ì—´(1) ì§€ì •
- sort: ì§‘ê³„ëœ ë‚´ìš©ì„ ì •ë ¬í• ì§€ ì—¬ë¶€
- dropna: Trueì´ë©´ ê²°ì¸¡ê°’ì´ í–‰/ì—´ê³¼ í•¨ê»˜ ì‚­ì œ, Falseì´ë©´ ê²°ì¸¡ê°’ë„ ê·¸ë£¹ì˜ í‚¤ë¡œ ì²˜ë¦¬
- FUN: ì§‘ê³„í•¨ìˆ˜

ğŸ”¥ **ì§‘ê³„í•¨ìˆ˜**

- count(): ê°’ì˜ ê°œìˆ˜
- sum(): ê°’ë“¤ì˜ í•©
- std(): í‘œì¤€í¸ì°¨
- var(): ë¶„ì‚°
- min(): ìµœì†Ÿê°’
- max(): ìµœëŒ€ê°’
- mean(): í‰ê· ê°’
- median(): ì¤‘ì•™ê°’

In [187]:
import pandas as pd
from sklearn.datasets import load_iris
IRIS = load_iris()
iris = pd.DataFrame(IRIS.data, columns=IRIS.feature_names)
iris.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [189]:
# class ì—´ ì¶”ê°€
# mapì„ ì‚¬ìš©í•´ target ê°’{0,1,2}ì„ ê½ƒ ì´ë¦„ìœ¼ë¡œ ë³€í™˜
iris['class']  = IRIS.target
iris['class'] = iris['class'].map({0:'setosa', 1:'versicolor', 2:'virginica'})
iris.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa
3,4.6,3.1,1.5,0.2,setosa
4,5.0,3.6,1.4,0.2,setosa

In [191]:
# ì§‘ê³„í•¨ìˆ˜ë¥¼ ì´ìš©í•œ ê·¸ë£¹í™”
iris.groupby(by='class').mean()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
class,,,,
setosa,5.006,3.428,1.462,0.246
versicolor,5.936,2.770,4.260,1.326
virginica,6.588,2.974,5.552,2.026

### 3.7.2 ë„ìˆ˜ë¶„í¬í‘œ

ğŸ‘€ **Definition**
> ìë£Œë¥¼ ëª‡ê°œì˜ êµ¬ê°„ìœ¼ë¡œ ë‚˜ëˆ„ê³ , ë‚˜ëˆ„ì–´ì§„ ê° êµ¬ê°„ì— ì†í•œ ìë£Œì˜ ê°œìˆ˜ë¥¼ ì •ë¦¬í•œ í‘œ

- ë°ì´í„°ì˜ ê°œìˆ˜ê°€ ì–´ë–»ê²Œ ë¶„í¬ë˜ì–´ ìˆëŠ”ì§€ í™•ì¸
- ì´ í‘œë¥¼ ì‹œê°í™” í•œ ê²ƒì„ íˆìŠ¤í† ê·¸ë¨ì´ë¼ê³  í•¨
- value_counts() í•¨ìˆ˜ë¥¼ ì‚¬ìš©

In [192]:
# ë„ìˆ˜ë¶„í¬í‘œ
pd.Series(iris['class']).value_counts()

setosa        50
versicolor    50
virginica     50
Name: class, dtype: int64

âœï¸ **ë” ì•Œì•„ë³´ê¸°**
- ğŸ˜—: ìë£Œë¥¼ ëª‡ê°œì˜ êµ¬ê°„ìœ¼ë¡œ ë‚˜ëˆˆë‹¤ê³  í–ˆëŠ”ë° ì´ê±´ ê°œìˆ˜ë§Œ ì„¸ëŠ” ê±¸ê¹Œìš”?
- ğŸ˜€: ìˆ˜ì¹˜í˜• ë°ì´í„°ì— ëŒ€í•´ì„œ ìë£Œë¥¼ êµ¬ê°„í™” í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤!

In [198]:
# ë°ì´í„°ë¥¼ 3ë“±ë¶„ í•˜ê³ , ê° êµ¬ê°„ì— ë ˆì´ë¸” ë¶€ì—¬
three_cut = pd.qcut(iris['petal width (cm)'], 3, labels=['low', 'medium', 'high'])
three_cut

0       low
1       low
2       low
3       low
4       low
       ...
145    high
146    high
147    high
148    high
149    high
Name: petal width (cm), Length: 150, dtype: category
Categories (3, object): ['low' < 'medium' < 'high']

In [200]:
# ë„ìˆ˜ë¶„í¬í‘œë¥¼ ë§Œë“¤ ìƒˆë¡œìš´ ì—´ ì¶”ê°€
iris['petal width level'] = three_cut
iris.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class,petal width level
0,5.1,3.5,1.4,0.2,setosa,low
1,4.9,3.0,1.4,0.2,setosa,low
2,4.7,3.2,1.3,0.2,setosa,low
3,4.6,3.1,1.5,0.2,setosa,low
4,5.0,3.6,1.4,0.2,setosa,low

In [201]:
iris['petal width level'].value_counts()

medium    52
low       50
high      48
Name: petal width level, dtype: int64

âœï¸ **ë” ì•Œì•„ë³´ê¸°**
- ğŸ˜—: í•˜ë‚˜ì˜ ê¸°ì¤€ì´ ì•„ë‹Œ ì—¬ëŸ¬ê°œì˜ ê¸°ì¤€ìœ¼ë¡œ ë¶„í¬í‘œë¥¼ ìƒì„±í•  ìˆ˜ ìˆë‚˜ìš”?
- ğŸ˜€: crosstab() í•¨ìˆ˜ë¥¼ í†µí•´ êµì°¨í‘œë¥¼ ê·¸ë¦´ ìˆ˜ ìˆìŠµë‹ˆë‹¤!

In [203]:
pd.crosstab(iris['petal width level'], iris['class'])

class              setosa  versicolor  virginica
petal width level
low                    50           0          0
medium                  0          48          4
high                    0           2         46

## 3.8 ë°ì´í„°í”„ë ˆì„ì— í•¨ìˆ˜ ì ìš©í•˜ê¸°

Applyì™€ Map í•¨ìˆ˜ë¥¼ ì‚¬ìš©í•˜ì—¬ ë°ì´í„°ì˜ í–‰ ë˜ëŠ” ì—´ì— ììœ ë¡­ê²Œ í•¨ìˆ˜ë¥¼ ì ìš©í•˜ê³  ê°’ì„ ë³€ê²½í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.

- apply/ map ë‘˜ ë‹¤ ë™ì¼í•œ ê¸°ëŠ¥ ìˆ˜í–‰
- ë°ì´í„°í”„ë ˆì„ì— í–‰ ë˜ëŠ” ì—´ ë°©í–¥ìœ¼ë¡œ ì§€ì •í•œ í•¨ìˆ˜ ì‹¤í–‰

ğŸ”¥ **ê¿€íŒ**
- lambdaëŠ” applyë¥¼ ì‹œì‘í•  ë•Œ "lambda ë’¤ì— ì˜¤ëŠ” ë³€ìˆ˜ë¥¼ ê°€ì§€ê³  ìˆ˜í–‰í• ê±°ì•¼!"ë¼ëŠ” ëœ»
- ì´ ë³€ìˆ˜ëŠ” í•˜ë‚˜ì˜ ì»¬ëŸ¼ì¼ ìˆ˜ë„ ìˆê³  ì—¬ëŸ¬ ì»¬ëŸ¼ì¼ ìˆ˜ ë„ ìˆìœ¼ë©° ë‹¤ì–‘í•œ ì²˜ë¦¬ë¥¼ ìˆ˜í–‰í•  ìˆ˜ ìˆìŒ
- ëŒ€ìƒì´ ì—¬ëŸ¬ ì»¬ëŸ¼ì¼ ê²½ìš° axis=1ë¥¼ ê¼­ ëª…ì‹œí•´ì•¼í•¨

In [206]:
# í•˜ë‚˜ì˜ ì»¬ëŸ¼ì— ëŒ€í•œ ìˆ˜í–‰
iris['double sepal'] = iris['sepal width (cm)'].apply(lambda x: x*2)
iris.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class,petal width level,double sepal
0,5.1,3.5,1.4,0.2,setosa,low,7.0
1,4.9,3.0,1.4,0.2,setosa,low,6.0
2,4.7,3.2,1.3,0.2,setosa,low,6.4
3,4.6,3.1,1.5,0.2,setosa,low,6.2
4,5.0,3.6,1.4,0.2,setosa,low,7.2

In [209]:
# ì—¬ëŸ¬ ì»¬ëŸ¼ì— ëŒ€í•œ ìˆ˜í–‰
iris['sepal petal sum'] = iris.apply(lambda x: x['sepal length (cm)'] + x['petal length (cm)'], axis=1)
iris.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class,petal width level,double sepal,sepal petal sum
0,5.1,3.5,1.4,0.2,setosa,low,7.0,6.5
1,4.9,3.0,1.4,0.2,setosa,low,6.0,6.3
2,4.7,3.2,1.3,0.2,setosa,low,6.4,6.0
3,4.6,3.1,1.5,0.2,setosa,low,6.2,6.1
4,5.0,3.6,1.4,0.2,setosa,low,7.2,6.4

## 3.9 ë¬¸ìì—´ ë°ì´í„° ë³€í™˜í•˜ê¸°

ë°ì´í„°í”„ë ˆì„ì˜ ë¬¸ìì—´ ë°ì´í„°ë¥¼ ì—´ ë°©í–¥ìœ¼ë¡œ í•œ ë²ˆì— ë³€í™˜í•˜ì—¬ ì •ì œí•  ìˆ˜ ìˆìŠµë‹ˆë‹¤. ì´ë•Œ Seriesì˜ strì´ë¼ëŠ” ì†ì„±ì„ ì‚¬ìš©í•©ë‹ˆë‹¤.

ğŸ”¥ **Key point**
- strì€ Seriesì— ìˆëŠ” ì†ì„±, DataFrameì—ëŠ” ì—†ìŒ
- DataFrame['ì»¬ëŸ¼ëª…']ì€ Series
- ì¦‰, íŠ¹ì • ì»¬ëŸ¼ì— ëŒ€í•´ ìˆ˜í–‰í•  ìˆ˜ ìˆìŒ


### 3.9.1 ì¸ë±ì‹±

- ìŠ¬ë¼ì´ìŠ¤ë¥¼ ì‚¬ìš©í•œ ì¸ë±ì‹± ìˆ˜í–‰

In [210]:
import pandas as pd

# ë°ì´í„°í”„ë ˆì„ ìƒì„±
landmark = pd.DataFrame({'name':['ê´‘í™”ë¬¸','í˜¸ë¯¸ê³¶','ì²¨ì„±ëŒ€'], 'location':['ì„œìš¸ ì¢…ë¡œêµ¬ ì‚¬ì§ë¡œ 161', 'ê²½ë¶ í¬í•­ì‹œ ë‚¨êµ¬ í˜¸ë¯¸ê³¶ë©´ ëŒ€ë³´ë¦¬ 150', 'ê²½ë¶ ê²½ì£¼ì‹œ ì¸ì™•ë™ 839-1']})
landmark

  name                location
0  ê´‘í™”ë¬¸          ì„œìš¸ ì¢…ë¡œêµ¬ ì‚¬ì§ë¡œ 161
1  í˜¸ë¯¸ê³¶  ê²½ë¶ í¬í•­ì‹œ ë‚¨êµ¬ í˜¸ë¯¸ê³¶ë©´ ëŒ€ë³´ë¦¬ 150
2  ì²¨ì„±ëŒ€        ê²½ë¶ ê²½ì£¼ì‹œ ì¸ì™•ë™ 839-1

In [212]:
# location ë¬¸ìì—´ì˜ 3ë²ˆì§¸ë¶€í„° 6ë²ˆì§¸ ë¬¸ìê¹Œì§€ ì¶”ì¶œ
landmark['location'].str[3:6]

0    ì¢…ë¡œêµ¬
1    í¬í•­ì‹œ
2    ê²½ì£¼ì‹œ
Name: location, dtype: object

### 3.9.2 ë¶„í• 
- íŠ¹ì •í•œ ê°’ì„ ê¸°ì¤€ìœ¼ë¡œ ë¬¸ìì—´ì„ ë‚˜ëˆŒ ìˆ˜ ìˆìŒ
- split() í•¨ìˆ˜ ì‚¬ìš© â˜ ê²°ê³¼ëŠ” ë¦¬ìŠ¤íŠ¸
- expand ì¡°ê±´ì„ í†µí•´ ë¶„í• ëœ ë¬¸ìì—´ì„ ë³„ë„ì˜ ë¬¸ìì—´ë¡œ ë³€í™˜í•  ìˆ˜ ìˆìŒ

In [214]:
# ê³µë°±ì„ ê¸°ì¤€ìœ¼ë¡œ ë¬¸ìì—´ì„ ë‚˜ëˆ„ì–´ ë¦¬ìŠ¤íŠ¸ë¡œ ë°˜í™˜
string_list = landmark['location'].str.split(' ')
string_list

0              [ì„œìš¸, ì¢…ë¡œêµ¬, ì‚¬ì§ë¡œ, 161]
1    [ê²½ë¶, í¬í•­ì‹œ, ë‚¨êµ¬, í˜¸ë¯¸ê³¶ë©´, ëŒ€ë³´ë¦¬, 150]
2            [ê²½ë¶, ê²½ì£¼ì‹œ, ì¸ì™•ë™, 839-1]
Name: location, dtype: object

In [219]:
# ê° ë¦¬ìŠ¤íŠ¸ì˜ 1ë²ˆì§¸ ë¬¸ìì—´ ë°˜í™˜
string_list.str[0]

0    ì„œìš¸
1    ê²½ë¶
2    ê²½ë¶
Name: location, dtype: object

In [218]:
# location ì»¬ëŸ¼ì„ ê³µë°±ì„ ê¸°ì¤€ìœ¼ë¡œ ë‚˜ëˆ„ì–´ ì²«ë²ˆì§¸ ë¬¸ìì—´ì„ ìƒˆë¡œìš´ ì»¬ëŸ¼ìœ¼ë¡œ ì¶”ê°€
landmark['location_1'] = landmark['location'].str.split(' ').str[0]
landmark

  name                location location_1
0  ê´‘í™”ë¬¸          ì„œìš¸ ì¢…ë¡œêµ¬ ì‚¬ì§ë¡œ 161         ì„œìš¸
1  í˜¸ë¯¸ê³¶  ê²½ë¶ í¬í•­ì‹œ ë‚¨êµ¬ í˜¸ë¯¸ê³¶ë©´ ëŒ€ë³´ë¦¬ 150         ê²½ë¶
2  ì²¨ì„±ëŒ€        ê²½ë¶ ê²½ì£¼ì‹œ ì¸ì™•ë™ 839-1         ê²½ë¶

In [220]:
# expand=Trueë¡œ ì„¤ì •í•˜ì—¬ ë¦¬ìŠ¤íŠ¸ë¥¼ ì»¬ëŸ¼ìœ¼ë¡œ í™•ì¥
landmark['location'].str.split(' ', expand=True)

    0    1    2      3     4     5
0  ì„œìš¸  ì¢…ë¡œêµ¬  ì‚¬ì§ë¡œ    161  None  None
1  ê²½ë¶  í¬í•­ì‹œ   ë‚¨êµ¬   í˜¸ë¯¸ê³¶ë©´   ëŒ€ë³´ë¦¬   150
2  ê²½ë¶  ê²½ì£¼ì‹œ  ì¸ì™•ë™  839-1  None  None

### 3.9.3 íƒìƒ‰

ì‹œì‘ ê¸€ì, ëë‚˜ëŠ” ê¸€ì, í¬í•¨í•˜ëŠ” ê¸€ìë¥¼ ê¸°ì¤€ìœ¼ë¡œ ë°ì´í„°í”„ë ˆì„ì„ íƒìƒ‰í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤. íƒìƒ‰ì˜ ê²°ê³¼ëŠ” True/ Falseë¡œ ë°˜í™˜ë©ë‹ˆë‹¤.

In [222]:
# ì„œìš¸ë¡œ ì‹œì‘í•˜ëŠ” í–‰ íƒìƒ‰
landmark['location'].str.startswith('ì„œìš¸')

0     True
1    False
2    False
Name: location, dtype: bool

In [224]:
# 1ë¡œ ëë‚˜ëŠ” í–‰ íƒìƒ‰
landmark['location'].str.endswith('1')

0     True
1    False
2     True
Name: location, dtype: bool

In [225]:
# ê²½ë¶ì´ í¬í•¨ëœ í–‰ íƒìƒ‰
landmark['location'].str.contains('ê²½ë¶')

0    False
1     True
2     True
Name: location, dtype: bool

### 3.9.4 ì¹˜í™˜

íŠ¹ì •í•œ ë°ì´í„°ë¥¼ ë‹¤ë¥¸ ë°ì´í„°ë¡œ ì¹˜í™˜í•©ë‹ˆë‹¤.

In [226]:
# ê²½ë¶ì„ ê²½ìƒë¶ë„ë¡œ ë³€ê²½
landmark['location'].str.replace('ê²½ë¶', 'ê²½ìƒë¶ë„')

0              ì„œìš¸ ì¢…ë¡œêµ¬ ì‚¬ì§ë¡œ 161
1    ê²½ìƒë¶ë„ í¬í•­ì‹œ ë‚¨êµ¬ í˜¸ë¯¸ê³¶ë©´ ëŒ€ë³´ë¦¬ 150
2          ê²½ìƒë¶ë„ ê²½ì£¼ì‹œ ì¸ì™•ë™ 839-1
Name: location, dtype: object

## 3.10 ë‚ ì§œ ë°ì´í„° í•¸ë“¤ë§

ë‚ ì§œì™€ ì‹œê°„ì„ ë‹¤ë£¨ê¸° ìœ„í•´ datetime ëª¨ë“ˆì˜ datetime íŒ¨í‚¤ì§€ë¥¼ ì´ìš©í•©ë‹ˆë‹¤.

### 3.10.1 í˜„ì¬ ë‚ ì§œ ì‚¬ìš©í•˜ê¸°

In [227]:
from datetime import datetime
datetime.today()

datetime.datetime(2024, 6, 18, 8, 58, 16, 216208)

In [232]:
# í˜„ì¬ ì‹œê°„ì—ì„œ ë…„, ì›”, ì¼ ì¶”ì¶œ
[datetime.today().year, datetime.today().month, datetime.today().day]

[2024, 6, 18]

### 3.10.2 ë‚ ì§œ í˜•ì‹ì˜ ë³€í™˜

**1. ë¬¸ì í˜•ì‹ì˜ ë°ì´í„°í”„ë ˆì„ì„ ë‚ ì§œë¡œ ë³€í™˜**

In [250]:
# ë°ì´í„°í”„ë ˆì„ ìƒì„±
df = pd.DataFrame({'Datetime':['20230101', '20230102', '20230103', '20230104']})
df

   Datetime
0  20230101
1  20230102
2  20230103
3  20230104

In [251]:
# ë°ì´í„°í”„ë ˆì„ ì»¬ëŸ¼ íƒ€ì… í™•ì¸
df.dtypes

Datetime    object
dtype: object

In [252]:
# ë¬¸ìì—´ì„ ë‚ ì§œë¡œ ë³€í™˜
df['Datetime'] = pd.to_datetime(df['Datetime'], format='%Y-%m-%d')
df

    Datetime
0 2023-01-01
1 2023-01-02
2 2023-01-03
3 2023-01-04

In [253]:
# ë°ì´í„°í”„ë ˆì„ ì»¬ëŸ¼ íƒ€ì… í™•ì¸
df.dtypes

Datetime    datetime64[ns]
dtype: object

**2. ë¬¸ìë¥¼ ë‚ ì§œë¡œ ë³€í™˜**

In [254]:
datetime.strptime('20230101', '%Y%m%d')

datetime.datetime(2023, 1, 1, 0, 0)

**3. ë‚ ì§œë¥¼ ë¬¸ìë¡œ ë³€í™˜**

In [255]:
time = datetime.today()
time.strftime('%Y-%m-%d %H:%M:%S')

'2024-06-18 09:06:59'

ğŸ”¥ **ë‚ ì§œ í¬ë§·**

<p align="center"><img src="https://github.com/sigirace/page-images/blob/main/kang_lectures/python_preprocessing/datetime_format.png?raw=true" width="400" height="400"></p>

### 3.10.3 ë‚ ì§œ ë°ì´í„°ì˜ ì—°ì‚°

- datetime ëª¨ë“ˆì˜ timedelta íŒ¨í‚¤ì§€ë¥¼ ì‚¬ìš©í•˜ì—¬ ì‹œê°„ ì—°ì‚°ì´ ê°€ëŠ¥í•¨

ğŸ“Œ **timedelta**
> datetime.timedelta(days=0, seconds=0, microseconds=0, miliseconds=0, minutes=0, hours=0, weeks=0)

In [259]:
from datetime import timedelta
# ì˜¤ëŠ˜ë¡œë¶€í„° 1ì£¼ì¼ 1ì¼ í›„ ë‚ ì§œ ì—°ì‚°
time = datetime.today()
time + timedelta(days=1, weeks=1)

datetime.datetime(2024, 6, 26, 9, 11, 30, 176198)